{% extends "base.html" %}

{% block title %}
Главная страница
{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
<h1>Главная страница! 🎉</h1>

<p class="important">
    Мы на главной странице, знать бы теперь ради чего?.
</p>

{% if user %}
    <h2>Поздравляю, Вы авторизованы!</h2>
    <p>
        Привет {{ user.name }}! Вот наконец ты и авторизовался, теперь тебе доступны <a href="/private">секретные разделы</a>!
    </p>
{% else %}
    <h2>Вы НЕ авторизованы :(</h2>
    <p>
        Я не знаю кто Вы, потому что Вы не авторизовались. Пройдите по ссылке и 
        <a href="/auth/login" class="btn">исправьтесь</a>!
    </p>
{% endif %}

<hr>

{% endblock %}