<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css">
  </head>

  <h1 class="login-title">Авторизация 🔐</h1>

  {% for error in errors %}
      <p class="form-error">{{ error }}</p>
  {% endfor %}
  
  <form class="login-form" action="/auth/login" method="post">
      <div class="form-group">
          <label for="username">Email</label>
          <input type="email" id="username" name="username" value="{{ username }}" required>
      </div>
  
      <div class="form-group">
          <label for="password">Пароль</label>
          <input type="password" id="password" name="password" value="{{ password }}" required>
      </div>
  
      <button type="submit" class="btn-primary">Войти</button>
  </form>
  

{% include '_site_map.html' %}