<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/styles.css">
</head>

<h1 class="lk-title">Личный кабинет</h1>
{% include '_lk_map.html' %} 



<div class="account-summary">
  <div class="greeting-block">
    <h1>Это твой счёт, {{ user.name }}! 👋</h1>
    <p class="greeting-subtitle">Ты видишь, безграничность своих возможностей, выраженную в числах</p>
  </div>
  <div class="balance-card">
    <div class="balance-item">
        <span class="label">💰 Баланс:</span>
        <span class="value">{{ bill.balance }}</span>
    </div>
    <div class="balance-item">
        <span class="label">📅 Лимит на сегодня:</span>
        <span class="value">{{ bill.freeLimit_today }}</span>
    </div>
    <div class="balance-item">
        <span class="label">🗓️ Общий дневной лимит:</span>
        <span class="value">{{ bill.freeLimit_perDay }}</span>
    </div>
</div>

  <div class="topup-section">
    <form action="{{ url_for('bill_refund', user_id=user.id) }}" method="POST" class="topup-form">
        <label class="topup-label">Пополнить счёт:</label>
        <div class="topup-buttons">
            <input type="hidden" name="redir" value="/private/billing" class="refund-input" required>
            <button type="submit" name="payment" value="5">+5</button>
            <button type="submit" name="payment" value="10">+10</button>
            <button type="submit" name="payment" value="50">+50</button>
            <button type="submit" name="payment" value="100">+100</button>
        </div>
    </form>
  </div>
</div>


<div class="table-container">
  <h2 >История операций</h2>
  <table class="history-table">
      <tr>
        <th>ID</th>
        <th>Дата</th>
        <th>Операция</th>
        <th>Сумма</th>
        <th>Успешность</th>
      </tr>
      {% for op in bill_operations_list_exist %}
      <tr class="{{ 'success' if op.success else 'fail' }}">
        <td data-label="ID">{{ op.id }}</td>
        <td data-label="Дата">{{ op.date }}</td>
        <td data-label="Операция">{{ op.operation }}</td>
        <td data-label="User ID">{{ op.val }}</td>
        <td data-label="Статус">{{ '✅' if op.success else '❌' }}</td>
      </tr>
      {% endfor %}
  </table>
</div>

{% include '_lk_map.html' %} 
{% include '_site_map.html' %}